/* MIXINS */

@mixin gradient {
	background: linear-gradient(90deg, var(--base0C) 0%, var(--base0B) 50%, var(--base0A) 100%);
}

/* TAGS */

:root {
	font-family: system-ui, sans-serif;
}

body {
	& {
		background: black;
		// @include gradient;
	}

	& {
        opacity: 0;
        animation: fadeIn 2s forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

	* {
		border: none;
		cursor: default;
		text-align: center;
		color: var(--base07);
		border-radius: 0.3rem;
	}

	*::-moz-selection {
  		color: var(--base07);
  		background: var(--base0D);
	}

	*::selection {
		color: var(--base07);
  		background: var(--base0D);
	}
}

main {
	& {
  		margin: auto;
		max-width: 22rem;
	}

	> * {
		padding: 0.8rem;
		margin-top: 1.5rem;
		background-color: var(--base00);
	}

	nav {
		display: flex;
		justify-content: space-between;
	}

	select {
		text-align: right;
		background-color: var(--base00);
	}

	hr {
		height: 3px;
		@include gradient;
		margin: 1rem 0rem;
	}

	i {
		margin: 0rem 0.5rem;
	}

	i, span {
		color: var(--base0D);
	}

	select, button {
		cursor: pointer;
	}
}

main {
	#section-2 > div:last-child {
		gap: 1rem;
		display: grid;
		grid-template-columns: auto auto;
	}

	#navbar {
		display: flex;
		justify-content: space-between;
	}

	nav > div:first-child {
		display: flex;
		align-items: center;
	}
}